/* CSS files add styling rules to your content */

body {
  transition-duration: 0.2s;
  text-align: center;
  font-family: monospace;
  /*font-weight: 700;*/
  table-align: center;
  margin: auto;
  font-weight: bold;
  background-color: #ddddff;
}
.theButtonContainer {
  position: absolute;
  display: flex;
  width: 20%;
  height: 25%;
  top: 50px;
  left: 39.5%;
  flex-direction: column;
}
.mainButton {
  margin-top: 50px;
  text-align: center;
  height: 080px;
  width: 250px;
  font-size: 1.5em;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4bb3fd;
  color: white;
  /*padding: 16px;*/
  font-size: 16px;
  border: none;
} 


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 310px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: monospace;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #00487c;
}

.operationButton {
  height: 50px;
  font-size: 20pt;
  background-color: #FFFFFF;
  transition-duration: 0.2s;
} 

.operationButton:hover {
  background-color: #e7e7e7;
}

